body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #19344f;
}

.header {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 70px;
  background-color: #162538;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}


.container-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.barra-perfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.titulo {
  margin: 0;
  padding: 0;
  margin-top: 100px; 
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.maquinario {
  padding-bottom: 70px;
}

.video-container {
  margin: 8px;
  padding: 8px;
  padding-bottom: 24px;
  background-color: #091F2C;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
  position: relative;
  overflow: hidden; 
}




.video-container:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(9, 31, 44, 0.3);
}



.video-legenda {
  color: white;
  text-align: center;
  padding: 0;
  background-color: rgba(9, 31, 44, 0.0);
  position: absolute;
  bottom: 4px;
  left: -110px; 
  width: calc(100% - 20px); 
  margin: 0;
  
  
}

iframe {
  width: 370px; 
  height: 185px;
}

.galeria-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px; 
  padding: 20px;
  margin-top: 20px; 
  margin-left: 150px;
   max-width: 1900px; 
} 


.barra-perfil {
  display: flex;
  align-items: center; 
}


.nome-perfil {
  margin-left: 10px;
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center; 
  text-align: left;
}

/* ... Efeitos barra do perfil ... */

.barra-perfil {
  transition: color 0.3s; 
}

.barra-perfil:hover {
  color: #8AB4EA;
}


.barra-perfil img,
.nome-perfil {
  transition: color 0.3s; 
}

.barra-perfil:hover img,
.barra-perfil:hover .nome-perfil {
  color: #8AB4EA;
}

/* ... Sidebar ... */

.sidebar {
  position: fixed;
  top: 60px; 
  left: 0;
  width: 170px; 
  height: calc(100vh - 60px); 
  background-color: rgba(0, 0, 0, 0.8); 
  opacity: 0.8; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu {
  margin-bottom: auto; 
  display: flex;
  flex-direction: column;

}
.sidebar-menu a {
  position: relative; 
  color: #fff;
  text-decoration: none;
  padding-top: 30px;
}

.sidebar-menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.4s ease-in-out; /* transicao p largura */
}

.sidebar-menu a:hover:after {
  width: 100%; /* largura maior ao hover */
}



/* ... FimSidebar ... */


/* RESPONSIVO */

@media (max-width: 2000px) {
button {
  display: none;
}
}

@media (max-width: 1005px) {

  .sidebar {
    display: none;
  }
  .galeria-videos {
    flex-direction: row;
    overflow-x: auto;
    margin-left: 0;
    padding: 20px 0;
  }

  .video-container {
    flex: 0 0 auto;
    margin: 8px;
  }
  
  .titulo {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 880px) {

  .sidebar {
    display: none;
  }
  .galeria-videos {
    flex-direction: row;
    overflow-x: auto;
    margin-left: 0;
    padding: 20px 0;
  }

  .video-container {
    flex: 0 0 auto;
    margin: 8px;
  }
  
  .titulo {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 820px) {
  .galeria-videos {
    flex-direction: row;
    overflow-x: auto;
    margin-left: 4px;
    margin-right: 4px;
    padding: 10px 0;
  }

  .video-container {
    flex: 0 0 auto;
    margin: 2px;
    padding: 1px;
  }
}
@media (max-width: 800px) {
  .galeria-videos {
    display: flex;
    flex-wrap: nowrap; 
    gap: 12px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15px;
    overflow-x: auto; 
    max-width: 100%; 
  }
  

}


@media (max-width: 450px) {


  .galeria-videos {
    flex-direction: row;
    overflow-x: auto;
    margin-left: 4px;
    margin-right: 4px;
    padding: 10px 0;
  }

  .video-container {
    flex: 0 0 auto;
    margin: 2px;
    padding: 1px;
  }
  
  .titulo {
    margin-right: 20px;
    margin-left: 20px;
  }
}



