body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #19344f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #162538;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.logo img {
  width: 100px;
  height: auto;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.barra-perfil img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.titulo {
  margin: 0;
  padding: 0;
  margin-top: 100px; 
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.maquinario {
  padding-bottom: 70px;
}

.video-container {
  margin: 8px;
  padding: 8px;
  padding-bottom: 24px;
  background-color: #091F2C;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
  position: relative;
  overflow: hidden; 
}




.video-container:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(9, 31, 44, 0.3);
}

.video-legenda {
  color: white;
  text-align: center;
  padding: 0;
  background-color: rgba(9, 31, 44, 0.0);
  position: absolute;
  bottom: 4px;
  left: -110px; 
  width: calc(100% - 20px); 
  margin: 0;
  
  
}

  

.galeria-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px; 
  padding: 20px;
  margin-top: 20px; 
  margin-left: 150px;
} 



.search-bar {
  display: flex;
  align-items: center;
  padding: 4px; 
  background-color: #ffffff;
  border-radius: 4px;
}

.search-bar input {
  padding: 4px; 
  border: none;
  border-radius: 4px;
  outline: none;
  flex-grow: 1;
}


.search-icone {
  width: 17px; 
  height: 17px; 
  margin-left: 4px; 
}
.barra-perfil {
  display: flex;
  align-items: center;
}


.nome-perfil {
  margin-left: 10px;
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center; 
}

/* ... Efeitos barra do perfil ... */

.barra-perfil {
  transition: color 0.3s; 
}

.barra-perfil:hover {
  color: #8AB4EA;
}


.barra-perfil img,
.nome-perfil {
  transition: color 0.3s; 
}

.barra-perfil:hover img,
.barra-perfil:hover .nome-perfil {
  color: #8AB4EA;
}

/* ... Sidebar ... */

.sidebar {
  position: fixed;
  top: 60px; 
  left: 0;
  width: 145px; 
  height: calc(100vh - 60px); 
  background-color: rgba(0, 0, 0, 0.8); 
  opacity: 0.8; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu {
  margin-bottom: auto; 
  display: flex;
  flex-direction: column;

}
.sidebar-menu a {
  position: relative; 
  color: #fff;
  text-decoration: none;
  padding-top: 30px;
}

.sidebar-menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.4s ease-in-out; /* transicao p largura */
}

.sidebar-menu a:hover:after {
  width: 100%; /* largura maior ao hover */
}



/* ... FimSidebar ... */


/* RESPONSIVO */
@media (max-width: 1020px) {
  .sidebar {
    display: none;
  }
  .galeria-videos {
    margin-left: 100px;
  }
}


@media (max-width: 900px) {
  .galeria-videos {
    margin-left: 80px;
  }
}


@media (max-width: 700px) {
  .galeria-videos {
    margin-left: 60px;
  }
}


@media (max-width: 500px) {
  .galeria-videos {
    margin-left: 40px;
  }
}


@media (max-width: 400px) {
  .galeria-videos {
    margin-left: 20px;
  }
}


@media (max-width: 200px) {
  .galeria-videos {
    margin-left: 0;
  }
}
